*{
    margin: 0;

}
     /*fonts*/
     @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&family=Work+Sans:wght@400;700&display=swap');
     /*common styles*/
     body{
        font-family: 'Work Sans', sans-serif;

     }

    /*header and navigation styles*/
.header{
    position: absolute;
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    
}
.nav-title{
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}
nav li{
    list-style: none;
    margin-left: 20px;

}
nav ul{
    display: flex;
    align-items: center;
    color: #424242;
}
.bannar{
     padding-top: 250px 530px 850px 250px;
     text-align: center;
}
.bannar-title{
    font-weight: 700;
    font-size: 44px;
    color: #131313;
}
.bannar-describtion{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 20px 500px;

}
.primary-btn{
    font-size: 20px;
    line-height: 23px;
    background-color: orangered;
    color: #FFFFFF;
    margin: 30px 870px;
    border-color: white;
}
.header-img{
    border-radius: 8px;
}